body{
	background-color: palegreen;
}
form{
	background-color: white;
	margin: 120px 300px 100px 300px;
	height: 90vh;
	border-radius: 20px;
	padding: 50px;
}
.heading{
	text-align: center;
}
input[type="text"]{
	height: 40px;
	width: 250px;
	border-radius: 5px;
	border: 2px solid lightgray;
	text-indent: 10px;

}
input[type="number"]{
	height: 40px;
	width: 250px;
	border-radius: 5px;
	border: 2px solid lightgray;
	text-indent: 10px;
}
input[type="date"]{
	height: 40px;
	width: 250px;
	border-radius: 5px;
	border: 2px solid lightgray;
	text-indent: 10px;
}
.name1{
	margin-left: 200px;
}
.name2{
	margin-left: 355px;
}
.name3{
	margin-left: 360px;
}
.name4{
	color: gray;
}
input[type="email"]{
	height: 40px;
	width: 250px;
	border-radius: 5px;
	border: 2px solid lightgray;
	text-indent: 10px;
}
input[type="cell"]{
	height: 40px;
	width: 250px;
	border-radius: 5px;
	border: 2px solid lightgray;
	text-indent: 10px;
}
.name5{
	margin-left: 330px;
}
.heading2{
	color: gray;
}

.select1{
	height: 45px;
	width: 250px;
	border-radius: 5px;
	border: 2px solid lightgray;
	text-indent: 10px;
	background-color: white;
	margin-left: 200px;
}
.name6{
	margin-left: 200px;
}
.select2{
		height: 45px;
	width: 250px;
	border-radius: 5px;
	border: 2px solid lightgray;
	text-indent: 10px;
	background-color: white;
}
.name7{
	margin-left: 208px;
}
.name8{
	margin-left: 373px;
}
.name9{
	margin-left: 330px;
}
.d{
	margin-left: 192px ;
}
.f{
	margin-left: 345px;
}
#btn{
	height: 50px;
	width: 170px;
	color: white;
	font-weight: 1000;
	background-color: royalblue;
	border-radius: 5px;
	border: 2px solid royalblue;
}
#btn:hover{
	border: 2px solid white;
}